*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
}
.navbar{
    height: 80px;
    
}
/* .container-fluid{
    display: flex;
    background: #7a6464;
    align-items: center;
   padding: 0 20px;
} */
.row{
    display: flex;
    background: #7a6464;
    align-items: center;
   
}
/* .nav-items{
    float: left;
} */
.nav-link{
    padding: 10px;
    color: #fff;
    
}